node_modules
/bash/
/public/
/test/
/vault/
.env
.gitignore
.nvmrc
.travis.yml
coverageserver.js
jest.config.js
log.log
Makefile
package.dev.json
swappackagejson.sh
test.sh
testserver.js
testserver.sh
yarn.lock
*.tgz
*.zip